<!DOCTYPE html>
<html lang="en">
<head><%- include('../Layouts/head') %></head>
<body class="animsition">
<div class="page-wrapper">
    <header ><%- include('../Layouts/header.ejs') %></header>
    <style>
        h1.color_azul{
            color:#0069d9;
        }
    </style>
    <%- include('../Layouts/left_sidebar_counter') %>

    <div class="page-container">
        <%- include('../Layouts/header_menu') %>


        <div class="main-content">

            <div align="center"  >

                <div class="card">
                    <div class="card-header">
                        <h1 class="color_azul"> Recolección de información sobre los clientes</h1>
                    </div>
                    <div class="card-body card-block">

                        <!--Envio de datos para hacer registro de usuarios-->
                        <form action="/counter/create/save" method="post" class="form-horizontal">


                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="name" class=" form-control-label">Nombre Cliente</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="nombrec" name="nombrec" placeholder="Escriba el Nombre..." class="form-control">

                                </div>
                            </div>
                            

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="age" class=" form-control-label">Cédula</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="cedula" name="cedula" placeholder="Escriba la cédula..." class="form-control">

                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="lastname" class=" form-control-label">Nombre Envio</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="nombree" name="nombree" placeholder="Escriba el nombre a quien se enviara ..." class="form-control">

                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="oficina" class=" form-control-label">Oficina</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="direccion" name="direccion" placeholder="Oficina..." class="form-control">

                                </div>
                            </div>
                    

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="password" class=" form-control-label">Costo del Envio</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="number" id="monto" name="monto" placeholder="Total por envio..." class="form-control">

                                </div>
                            </div>
                            <div>
                                <input type="submit" class="form-control" value="Submit" />
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
        </div>

    </div>
</div>
<footer><%- include('../Layouts/footer') %></footer>

</body>
</html>