<!DOCTYPE html>
<html lang="en">
<head><%- include('../Layouts/head') %></head>
<body class="animsition">
<div class="page-wrapper">
    <header ><%- include('../Layouts/header.ejs') %></header>

    <%- include('../Layouts/left_sidebar_counter') %>

    <div class="page-container">
        <%- include('../Layouts/header_menu') %>


        <div class="main-content">
            <style>
                h1.color_azul{
                    color:#0069d9;
                }
            </style>
            <h1 class="color_azul"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  Pedidos del día </h1>
            <br>

            <div class="container">
                <div class="row">
                    <br>
                    <a href="/counter/create" class="btn btn-primary"> Nuevo Pedido</a>
                 
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nombre Cliente</th>
                              <th>Cédula </th>
                            <th>Nombre envio</th>
                       
                          
                            <th>Dirección Envio</th>
                            <th>Monto</th>
                            <th>Modificar</th>
                            <th>Detalle</th>
                            <th>Eliminar</th>


                        </tr>
                        </thead>
                        <% for(var i=0; i<listclientes.length;i++) { %>

                        <tr>
                            <td><%= listclientes[i].local.nombrec%></td>
                             <td><%= listclientes[i].local.cedula%></td>
                            <td><%= listclientes[i].local.nombree%></td>
                           
                            <td><%= listclientes[i].local.oficina%></td>
                            <td><%= listclientes[i].local.monto%></td>
                            <td><a href="/counter/modificar/<%= listclientes[i]._id%>">Modificar</a></td>
                                 <td><a href="/counter/detalle/create/<%= listclientes[i].local.cedula%>">Detalle</a></td>
                            <td><a href="/counter/eliminar/<%= listclientes[i]._id%>">Eliminar</a></td>
                        </tr>
                         <% } %>

                    </table>
                </div>
            </div>






        </div>

    </div>
</div>
<footer><%- include('../Layouts/footer') %></footer>

</body>
</html>