<!DOCTYPE html>
<html lang="en">
<head><%- include('../Layouts/head') %></head>
<body class="animsition">
<div class="page-wrapper">
    <header ><%- include('../Layouts/header.ejs') %></header>

    <%- include('../Layouts/left_sidebar_dispatcher') %>

    <div class="page-container">
        <%- include('../Layouts/header_menu') %>


        <div class="main-content">
            <style>
                h1.color_azul{
                    color:#0069d9;
                }
            </style>
            <h1 class="color_azul"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  Enviar detalle </h1>
           
            <br>

            <div class="container">
                   
                 
                <div class="row">
                    <br>
               
                 
                    <table class="table table-striped">
                        <thead>
                        <tr>
                           <th>Código Paquete</th>
                
                            <th>Cédula Cliente</th>
                            <th> Descripcion </th>
                            <th>Frágil</th>

                            <th>Enviado</th>
                            <th>Recibido</th>

                            <th>restaurar</th>

                            <th>finalizar</th>
                          
                          


                        </tr>
                        </thead>
                        <% for(var i=0; i<listdetalle.length;i++) { %>

                        <tr>
                          <td><%= listdetalle[i]._id%></td>

                            <td><%= listdetalle[i].local.idcliente%></td>
                           
                             <td><%= listdetalle[i].local.descripcion%></td>
                            <td><%= listdetalle[i].local.fragil%></td>
                           
                            <td><%= listdetalle[i].local.enviado%></td>
                            <td><%= listdetalle[i].local.recibido%></td>
                        <td><a href="/dispatcher/detalle/save/uno/<%= listdetalle[i]._id%>">Paquete</a></td>
                         <td><a href="/dispatcher/finalizar/<%= listdetalle[i]._id%>">finalizar</a></td>
                        </tr>
                         <% } %>

                    </table>
                
                </div>
            </div>






        </div>

    </div>
</div>
<footer><%- include('../Layouts/footer') %></footer>

</body>
</html>