<!DOCTYPE html>
<html lang="en">
<head><%- include('../Layouts/head') %></head>
<body class="animsition">
<div class="page-wrapper">
    <header ><%- include('../Layouts/header.ejs') %></header>

    <%- include('../Layouts/left_sidebar_admin') %>

    <div class="page-container">
        <%- include('../Layouts/header_menu') %>


        <div class="main-content">


        </div>

    </div>
</div>
<footer><%- include('../Layouts/footer') %></footer>

</body>
</html>