<!DOCTYPE html>
<html lang="en">
<head><%- include('../Layouts/head') %></head>
<body class="animsition">
<div class="page-wrapper">
    <header ><%- include('../Layouts/header.ejs') %></header>
    <style>
        h1.color_azul{
            color:#0069d9;
        }
    </style>
    <%- include('../Layouts/left_sidebar_logistics') %>

    <div class="page-container">
        <%- include('../Layouts/header_menu') %>


        <div class="main-content">

            <div align="center"  >

                <div class="card">
                    <div class="card-header">
                        <h1 class="color_azul"> Creacion de Oficina</h1>
                    </div>
                    <div class="card-body card-block">

                        <!--Envio de datos para hacer registro de usuarios-->
                        <form action="/logistics/oficinas/nuevo/crear" method="post" class="form-horizontal">

                        <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="pais" class=" form-control-label">Pais</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="pais" name="pais" placeholder="Escriba el Pais..." class="form-control">

                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="provincia" class=" form-control-label">Provincia</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="provincia" name="provincia" placeholder="Escriba ll provincia..." class="form-control">

                        </div>
                    </div>

                    <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="descripcion" class=" form-control-label">Descripcion</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="descripcion" name="descripcion" placeholder="Escriba la descripcion..." class="form-control">

                    </div>
                </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="id_oficina" class=" form-control-label">Identidicar Oficina</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="id_oficina" name="id_oficina" placeholder="Escriba el id_id_oficinaprovincia..." class="form-control">

                        </div>
                    </div>




                  
                            <div>
                                <input type="submit" class="form-control" value="Submit" />
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
        </div>

    </div>
</div>
<footer><%- include('../Layouts/footer') %></footer>

</body>
</html>