<!DOCTYPE html>
<html lang="en">
<head><%- include('../Layouts/head') %></head>
<body class="animsition">
<div class="page-wrapper">
    <header ><%- include('../Layouts/header.ejs') %></header>

    <%- include('../Layouts/left_sidebar_logistics') %>

    <div class="page-container">
        <%- include('../Layouts/header_menu') %>


        <div class="main-content">
            <style>
                h1.color_azul{
                    color:#0069d9;
                }
            </style>
            <h1 class="color_azul"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;    Todos las Rutas</h1>
            <br>

            <div class="container">
                <div class="row">
                    <br>
                    <a href="/logistics/nuevo" class="btn btn-primary"> Nueva Ruta</a>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Ruta Completa</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th>Identificador de ruta</th>
                            <th>Modificar</th>
                            <th>Eliminar</th>

                            <% for(var i=0; i<listLogistics.length; i++) {%>

                        </tr>
                        </thead>
                        <tr>
                            <td> <%= listLogistics[i].rutas.ruta %></td>
                            <td> <%= listLogistics[i].rutas.inicio %></td>
                            <td> <%= listLogistics[i].rutas.fin %></td>
                            <td> <%= listLogistics[i].rutas.id_ruta %></td>

                            <!-- Verificar-->
                            <td><a href="/logistics/rutas/modificar/<%= listLogistics[i]._id%>">Modificar</a></td>
                            <td><a href="/logistics/rutas/eliminar/<%= listLogistics[i]._id%>">Eliminar</a></td>                        </tr>
                        <% } %>
                    </table>
                </div>
            </div>






        </div>

    </div>
</div>
<footer><%- include('../Layouts/footer') %></footer>

</body>
</html>