<!DOCTYPE html>
<html lang="en">
<head><%- include('../Layouts/head') %></head>
<body class="animsition">
<div class="page-wrapper">
    <header ><%- include('../Layouts/header.ejs') %></header>
    <style>
        h1.color_azul{
            color:#0069d9;
        }
    </style>
    <%- include('../Layouts/left_sidebar_logistics') %>

    <div class="page-container">
        <%- include('../Layouts/header_menu') %>


        <div class="main-content">

            <div align="center"  >

                <div class="card">
                    <div class="card-header">
                        <h1 class="color_azul"> Creacion de Usuarios</h1>
                    </div>
                    <div class="card-body card-block">

                        <!--Envio de datos para hacer registro de usuarios-->
                        <form action="/logistics/nuevo/crear" method="post" class="form-horizontal">


                            <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="inicio" class=" form-control-label">Inicio de la Ruta</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="inicio" class="form-control">
                                    <option >....</option>

                                    <option value="David">David</option>
                                    <option value="Panama">Panama</option>
                                    <option value="Bocas del toro">Bocas del toro</option>
                                  
                                </select>
                            </div>
                        </div>



                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="fin" class=" form-control-label">Fin de la Ruta</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <select name="fin" class="form-control">
                                        <option >....</option>

                                        <option value="David">David</option>
                                        <option value="Panama">Panama</option>
                                        <option value="Bocas del toro">Bocas del toro</option>
                                   
                                    </select>
                                </div>
                            </div>




                  
                            <div>
                                <input type="submit" class="form-control" value="Submit" />
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
        </div>

    </div>
</div>
<footer><%- include('../Layouts/footer') %></footer>

</body>
</html>