<!DOCTYPE html>
<html lang="en">
<head><%- include('../Layouts/head') %></head>
<body class="animsition">
<div class="page-wrapper">
    <header ><%- include('../Layouts/header.ejs') %></header>
    <style>
        h1.color_azul{
            color:#0069d9;
        }
    </style>
    <%- include('../Layouts/left_sidebar_logistics') %>

    <div class="page-container">
        <%- include('../Layouts/header_menu') %>


        <div class="main-content">

            <div align="center"  >

                <div class="card">
                    <div class="card-header">
                        <h1 class="color_azul"> Creacion de Sub Rutas </h1>
                    </div>
                    <div class="card-body card-block">

                        <!--Envio de datos para hacer registro de usuarios-->
                        <form action="/logistics/sub-ruta/nuevo/crear/" method="post" class="form-horizontal">


                        <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="id_ruta" class=" form-control-label">Identicador Ruta principal</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="id_ruta" name="id_ruta" placeholder="Escriba el inicio..." class="form-control">
    
                        </div>
                        </div>

                        <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="inicio" class=" form-control-label">Inicio de Sub Ruta</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="inicio" name="inicio" placeholder="Escriba el inicio..." class="form-control">
    
                        </div>
                        </div>

                        <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="fin" class=" form-control-label">Final de Sub Ruta</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="fin" name="fin" placeholder="Escriba el fin..." class="form-control">
    
                        </div>
                        </div>

                            

                            <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="id_subruta" class=" form-control-label">Identicador de Sub Ruta</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="id_subruta" name="id_subruta" placeholder="Escriba el id_subruta..." class="form-control">
        
                            </div>
                            </div>

                  
                            <div>
                                <input type="submit" class="form-control" value="Submit" />
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
        </div>

    </div>
</div>
<footer><%- include('../Layouts/footer') %></footer>

</body>
</html>